body{
    background: black;
}

#mainNav{
    background: black;
    border-bottom: 5px solid #00adf7;
}

#mainNav .nav-link{
    color: white;
    border-left: 1px solid #00adf7;
}

#mainNav .nav-link:hover{
    color: #00adf7;  
    background-color: black;
    
}

#mainNav .dropdown-item{
    background-color: black;
    color: white;
    border-left: 1px solid #00adf7;
    padding-left: 10%;
    
}

#mainNav .dropdown-item:hover{
    color: #00adf7;  
    background-color: black;
    padding-left: 10%;
    
      
    
}

.btnList a{
    color: white;
}

.btnList a:hover{
    color: #00adf7;
}

.jumbotron{
    background: black;
    color: #00adf7; 
}

.jumbotron h1{
    color: white;
}

hr{
    border-top: 0.5px solid #00adf7;  
}

#navbarSupportedContent .nav-link{
    padding-left: 3%;
    margin-left: 3%;
    
}

@media (max-width:767px){
    #mainNav{
            padding-top: 10% ; 
            margin-top: 0.1%; 
            background-color: black;
        
    }
    body{
        background-color: black;
    }
}